html{
  font-size: 16px;
}
.titolo h1{
  padding-bottom:  10px;
}
.menu-navigazione{
 padding-top: 30px;
}
li{
  display: inline;
  padding-right: 30px;
  color: black;

}
li a{
  color: black;
}
.video-presentazione img{
  width: 100%;
}

hr{
  background-color: yellow;
  width: 50px;
  height: 5px;
  float: left;
}


  .logo{
    padding-left: 150px;
    padding-top: 10px;
  }
  .immagine-sezione-1{
    padding-left: 80px;
    padding-top: 20px;
  }
  .immagine-sezione-2{
    padding-left: 80px;
    padding-top: 20px;
  }
  .immagine-sezione-3{
    padding-left: 80px;
    padding-top: 20px;
  }
  .testo-sezione-1 a{
    background-color: yellow;
    color: black;
    padding-top: 5px;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .testo-sezione-2 a{
    background-color: yellow;
    color: black;
    padding-top: 5px;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .testo-sezione-3 a{
    background-color: yellow;
    color: black;
    padding-top: 5px;
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .swiper-container {
       width: 500px;
       height: 300px;
       margin: 20px auto;
   }
   .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;
       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
   }
